// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Override Bootstrap here
//

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: purple;
$body-bg: #f5f5f5;
$border-radius: .4rem;


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Import just the styles you need. Note that some stylesheets are required no matter what.

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required
// @import "bootstrap/scss/root";
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";



//
// Custom styles
//

body {
  padding: 0;
  font: normal normal normal 16px/22px Roboto;
  letter-spacing: 0px;
  background: #F4F4F4 0% 0% no-repeat padding-box;
  color:black;
}

.pink {
  color:#D5137F;
}
.pink-bg {
  background-color: #D5137F;
  color:white;
}

// Style Bootstrap icons
.bi {
  fill: currentColor;
}

.nav-top {
  background: #34344E 0% 0% no-repeat padding-box;
  width: 100%;
  height: 40px;
  color: white;
  position: relative;
  overflow: hidden;
  font-size: 0.8em;
}
.nav-top a { color: white; }
.nav-top a:hover { text-decoration: underline; }
.nav-top div.row { padding: 10px 0; }

/* SWITCH DARK */
@mixin includeLight {
  $base-text-color: 0,0,0;

  --background-color: #eeeeee;
  --background-card-color: #ffffff;
  --background-success-color: #85da85;
  --background-toggle-inactive-color: rgba(#{$base-text-color}, 0);
  --background-toggle-active-color: rgba(#{$base-text-color}, 0.08);
  --foreground-color: rgba(#{$base-text-color}, 0.87);
  --foreground-success-color: #000000;
  --foreground-secondary-color: rgba(#{$base-text-color}, 0.56);
  --focus-color: rgba(#{$base-text-color}, 0.5);
}

@mixin includeDark {
  $base-text-color: 255,255,255;

  --background-color: #212121;
  --background-card-color: #363636;
  --background-success-color: #008000;
  --background-toggle-inactive-color: rgba(#{$base-text-color}, 0);
  --background-toggle-active-color: rgba(#{$base-text-color}, 0.1);
  --foreground-color: rgba(#{$base-text-color}, 0.87);
  --foreground-success-color: #ffffff;
  --foreground-secondary-color: rgba(#{$base-text-color}, 0.56);
  --focus-color: rgba(#{$base-text-color}, 0.5);
}

%focus {
  outline-color: var(--focus-color);
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
}

html, html.light { @include includeLight }
html.dark { @include includeDark }

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  html { @include includeLight }
  html.dark { @include includeDark }
}

@media (prefers-color-scheme: dark) {
  html { @include includeDark }
  html.light { @include includeLight }
}

* {
  box-sizing: border-box;
  &:focus {
    @extend %focus;
  }
}

input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: inherit;
}

.toggle {
  flex: 1;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  &__input {
    &:checked {
      ~ .toggle__fake {
        &::after {
          left: 30px;
          background-color: var(--foreground-color);
        }
      }
    }
    &:focus,
    &:not([disabled]):hover {
      ~ .toggle__fake {
        background-color: var(--background-toggle-active-color);
      }
    }
    &:focus-visible {
      ~ .toggle__fake {
        @extend %focus;
      }
    }
  }
  &__fake {
    will-change: background-color;
    position: relative;
    display: inline-block;
    width: 52px;
    height: 24px;
    background-color: var(--background-toggle-inactive-color);
    border: 1px solid var(--foreground-color);
    border-radius: 12px;
    transition: background-color 100ms cubic-bezier(0.4, 0.0, 0.2, 1);
    &::after {
      will-change: left;
      content: '';
      position: absolute;
      top: 50%;
      left: 4px;
      display: block;
      width: 15px;
      height: 15px;
      background-color: var(--background-card-color);
      border: 1px solid var(--foreground-color);
      border-radius: 8px;
      transform: translateY(-50%);
      transition: left 100ms cubic-bezier(0.4, 0.0, 0.2, 1);
    }
  }
  &__text {
    margin-left: 16px;
    color: var(--foreground-color);
  }
}


/**
 * Text Slider Directive - CSS  
 **/
 .text-size-slider {
  line-height: 100%;
  font-size: 14px;
}

.text-size-slider .small-letter {
  font-size: 12px;
}

.text-size-slider .big-letter
{
  font-size: 24px;
}

.text-size-slider .slider {
  -webkit-appearance: none;
  margin: 0 8px;
}

.text-size-slider .slider:focus {
  outline: none;
}

.text-size-slider .slider::-webkit-slider-thumb {
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: -6px;
}

.text-size-slider .slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: white;
  border: 0;
}


/*
  Menu
*/
nav#slide-menu {
  background-color: #34344E;
  top: 0;
	left: -256px;
	bottom: 0;
	display: block;
	float: left;
	width: 100%;
	max-width: 256px;
	height: 100vh;

	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;

	> ul {
		display: block;
		margin: 10px;
		padding: 0;
		list-style: none;
		opacity: 0;

		-moz-transition: all 300ms;
		-webkit-transition: all 300ms;
		transition: all 300ms;

		li {
			color: #fff;
			padding: 6px 0;
      font-size:0.8em;
      
      h4{
        font: normal normal bold 1.2em Roboto;
        letter-spacing: 0px;
      }
		}

	}
}

body.menu-active nav#slide-menu { left: 0px; }
body.menu-active nav#slide-menu ul { left: 0px; opacity: 1; }

/*
  Content
*/

div#content {
  position: absolute;
  left:80px;
	width: 95%;
	height: 100%;
	padding: 20px;
	overflow: scroll;
	background: #F4F4F4;
	
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;

	div.menu-trigger {
		position: fixed;
		top: 170px;
		left: 60px;
		width: 36px;
		height: 36px;
    background: #ffffff 0% 0% no-repeat padding-box;
		cursor: pointer;
		
		-moz-transition: all 300ms;
		-webkit-transition: all 300ms;
    transition: all 300ms;
    
    box-shadow: 0px 3px 6px #00000029;

		&:before { 
			content: '';
			display: inline-block;
			width: 36px;
      height: 36px;
      margin-left: 2px;
			color: white;
			background-image: url('data:image/svg+xml,<svg class="bi bi-chevron-right" width="64" height="64" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z"/></svg>');
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
		}

		&:hover { background: #556270; &:before { color: #fcfeff; } }
	}
  
  
  div.menu-trigger2 {
		position: fixed;
		top: 180px;
		left: 20px;
		width: 36px;
		height: 36px;
		cursor: pointer;
		border-radius: 5px;
    color:white;
    font-size:0.7em;

		-moz-transition: all 300ms;
		-webkit-transition: all 300ms;
		transition: all 300ms;

		&:before { 
			content: '';
			display: inline-block;
			width: 42px;
			height: 42px;
			color: white;
			background-image: url('data:image/svg+xml,<svg width="64" height="64" viewBox="0 0 16 16" class="bi bi-funnel-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/></svg>');
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
		}

		&:hover { background: #556270; &:before { color: #fcfeff; } }
	}
}

body.menu-active div#content { left: 260px; border-radius: 7px 0 0 7px; }
body.menu-active div#content .menu-trigger { left: 236px; &:before { 
  content: '';
  display: inline-block;
  width: 36px;
  height: 36px;
  color: white;
  background-image: url('data:image/svg+xml,<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>');
background-repeat: no-repeat;
background-size: 2rem 2rem;
}}
body.menu-active div#content .menu-trigger2 { display:none }

/*Buttons*/
button {
  appearance: none;
  display: inline-flex;
  align-items: center;
  min-height: 32px;
  margin: 8px 0 16px;
  padding: 8px;
  color: var(--foreground-color);
  text-transform: uppercase;
  text-decoration:none;
  letter-spacing: 0.1em;
  background-color: var(--background-color);
  border: 1px solid var(--foreground-color);
  border-radius: 12px;
  cursor: pointer;
  opacity: 1;
}

.btn-mun {background: #E97EBD 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;

}
.btn-ppp {background: #D979AF 0% 0% no-repeat padding-box;}

select{width:100%;height:37px;background: #F9F9F9 0% 0% no-repeat padding-box;
border-radius: 4px;}